#gallery {

  font-family: 'Noto Sans', sans-serif;
  margin-left: 175px;
}

#title {
  position: absolute;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.category {
  color: #9c9b93;
  font-size: 11px;
  text-decoration: none;
}

.container {
  margin-top: -20px;
}

.mySlides {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
  margin-bottom: -4px;
}

.prev,
.next {
display: block;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 20%;
  padding: 0;
  margin-top: 40px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  margin-left: 50px;
}

.next {
  right: 0;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  /* position: absolute; */
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row {
  display: inline;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  cursor: pointer;
  max-width: 589px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 120px;
  padding: 2px;
  margin-bottom: 5px;
}


::-webkit-scrollbar {
  height: 18px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:#1d3247;
  border-radius: 5px;
  background-clip: padding-box;
}

::-webkit-scrollbar-button:horizontal:start:decrement, ::-webkit-scrollbar-button:horizontal:end:increment {
  border-radius: 5px;
  width: 40px;
}


::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-button:horizontal:start:decrement:hover,
::-webkit-scrollbar-button:horizontal:end:increment:hover {
  background-color: #3d6c8d;
}

/* modal */
#modal {
  display: 'none';
  position: fixed;
  padding-top: 90px;
  padding-left: 200px;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.94);
}

#mainImage {
  min-height: 350px;
}