::-webkit-scrollbar {
  height: 14px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:#1d3247;
  border-radius: 5px;
  background-clip: padding-box;
}

::-webkit-scrollbar-button:horizontal:start:decrement, ::-webkit-scrollbar-button:horizontal:end:increment {
  border-radius: 5px;
  width: 40px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-button:horizontal:start:decrement:hover,
::-webkit-scrollbar-button:horizontal:end:increment:hover {
  background-color: #3d6c8d;
}

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
  background-color: #1b2838;
}
